.writeEmail {
    background-color: #284d57;
    padding-bottom: 11rem;
    
}

.Mailinfo{
    display: flex;
  height: 100vh;
}
.sidebar_mail{
    background-color:#316b7a;
    flex:0.4;
}

.mailcontent{
    flex:2;
}

.topBar {
    display: flex;
    justify-content: space-between;
    height: 3rem;
}



.photoIcon {
    width: 65px;
    height: 60px;
    background-color: white;
    border-radius: 35px;
   margin-left: 4rem;
   border:#70c1d6 2px solid; 
}

.contentMail {
    display: flex;
    gap: 2rem;
    margin-right: 12px;
}

.replyMails {

    display: flex;
    gap: 1rem;
}

.allTags {
    display: flex;
    /* background-color:#5aa1b4; */
    /* height: 50rem; */
    color: white;
    justify-content: space-between;
    
}
.mailBox{
    height: 30rem;
  width: 50rem;
  background-color: white;
  /* margin-top: 7rem; */
  margin: auto;
  border-radius: 10px;
  border:#70c1d6 4px solid; 
}
.userName{
    color: white;
    margin: 0 ;


    font-size: 20px;
    font-weight: 500;
}
.toName{
    color: white;
    font-weight: 400;
    font-weight: 300;
   
}
.emailSubject>h4{
    background-color: #4fcaeb;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 2.2 !important;
    color: white;
}



.sidebar_secondary{
    display: none;

}

@media screen and (min-width: 280px) and (max-width: 786px) {

.sidebar_secondary{
    display: block;
    display: block !important;
    /* margin-top: 1rem; */
    background-color: rgb(40 77 87);
    /* width: 86%; */
    /* margin-left: 0.7rem; */
    /* border-radius: 32px; */
    padding-left: 23px;
    padding-top: 7px;
    /* height: 56px; */
    padding-bottom: 6px;
}

.sidebar_mail{
    display: none;
}
.Mailinfo{
    
    height: 100vh;
    flex-direction: column;
 
}

.mailBox{
    height: 30rem;
   width:100%;
    background-color: transparent;
    border-radius: 10px;
    border: #70c1d6 2px solid !important;
}

.photoIcon{
    margin-left:1rem;
}
.replyMails{
    margin-right: 8px;
}

}