/* .main {
    display: flex;
    justify-content: center;
    align-items: center;

}
.head {
    font-weight: 600;
    font-size: 28px;
    margin-right: 8.5rem;
    color: #09427d;
}

#Email1 {
    line-height: 2rem;
    width: 401px;
    border: 2.4px solid #6beffa;
    border-radius: 14px;
}
#Password1 {
    margin-top: 40px;
    line-height: 2rem;
    width: 401px;
    border: 2.4px solid #6beffa;
    border-radius: 14px;
}
.reset {
    background-color: #09427d;
    color: white;
    width: 250px;
    border-radius: 17px;
    height: 55px;
    font-weight:500 ;
    margin-top: 15%;
    float: right;
}

.inputb{
   

    border: 2px solid #6beffa ;    
    border-radius: 0.6rem;
    line-height: 2.5rem !important;
    border-left: none;
    box-shadow: none !important;

}
#icon1{
    border: 2px solid #6beffa !important;
    border-radius: 0.6rem 0 0 0.6rem;
    border-right: none !important;
} */

@media screen and (min-width: 296px) and (max-width: 786px) {
	
.inputr{
    width:0 !important;
}
.headr{
    margin:0 !important;
}
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;

}