.mainr {
    display: flex;
    justify-content: center;
    align-items: center;

}
.headr {
    font-weight: 600;
    font-size: 28px;
    margin-right: 8.5rem;
    color: #09427d;
    text-align: center;
}



.resetr {
    background-color: #09427d;
    color: white;
    width: 250px;
    border-radius: 17px;
    height: 55px;
    font-weight:500 ;
    margin-top: 15%;
    float: right;
}

.inputr{
    width: 350px !important;

    border: 2px solid #6beffa ;    
    border-radius: 0.6rem;
    line-height: 2.5rem !important;
    border-left: none;
    box-shadow: none !important;
    
}
#icon1r{
    border: 2px solid #6beffa !important;
    border-radius: 0.6rem 0 0 0.6rem;
    border-right: none !important;
}