@media screen and (min-width: 320px) and (max-width: 786px) {
	.form-field{
        display: flex !important;
        gap: 1px !important;
        /* flex-wrap: wrap; */
        flex-direction: column;
    }
    .backlog{
        display: none;
    }
    .backlog2 {
        display: flex !important;
        float: left;
        margin-top: -4rem;
        font-size: 1rem;
        font-weight: bold;
        padding: 1rem;
    
       }
    .Header-txt>h2{
        color: #09427D;
        text-align: center !important;
      
    }

}

.form-field{
    display:flex;
    gap:7rem;
}

.input-one {
flex:1;
}

.input-two{
    flex:1
}
   

    select{
        border: 2px solid #53c5d2 !important;
        border-left: none !important;
    }

    span#basic-addon {
        border: 2px solid #53c5d2!important;
        border-right: 0px !important;
        padding:1rem;
    }

    input.forminput1 {
        border: 2px solid #53C5D2;
        border-left: 0px !important;
    }
    
    .Header-txt>h2{
        color: #09427D;
        text-align: left;
      
    }
 
    .input-group-text{
        border-radius: 10px 0 0 10px !important;
    }

    .btn-primary{

        background-color: #09427D;
    }

    .form-control:focus {
        outline: none !important;
        box-shadow: none;
    }

    .opt:focus {
        outline: none !important;
        box-shadow: none;
    }

   input.forminput1{
    line-height: 2.5;
   }
  
 
   .submit-b{
    display: flex;
    justify-content: end;
   }

   .submit-b>#signupbtn{
    line-height: 1.5rem !important;
    font-size: 1.2rem;
    padding: 1rem;
   }
   
   #signupbtn:disabled{
    background-color: #09427D;
    line-height: 1.5rem !important;
    font-size: 1.2rem;
    padding: 1rem;
    float: right;
    margin-top: 2rem;
   }
   .backlog {
    float: left;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    padding: 1rem;
   }
   
  
   .backlog2{
    display: none;
   } 
   .passicon1{
    cursor: pointer;
    position: absolute;
    width: 40px;
    right: 8px;
    top: 17px;
    border-left: none !important; 
   }